MAINNET_RPC_URL=https://eth-mainnet.alchemyapi.io/v2/<API-KEY>
PRIVATE_KEY=<PRIVATE_KEY>
ETHERSCAN_API_KEY=<ETHERSCAN_API_KEY>

# Specify node URL to be used for scripts.
# E.g. http://127.0.0.1:8545, the URL for local anvil instances
SCRIPT_RPC_URL=

# Private key that will sign the transactions broadcast by scripts.
# E.g. 0x2a871d0798f97d79848a013d4936a73bf4cc922c825d33c1cf7073dff6d409c6, anvil private key #9
SCRIPT_PRIVATE_KEY=

# Address corresponding to the SCRIPT_PRIVATE_KEY above.
# E.g. 0xa0Ee7A142d267C1f36714E4a8F75612F20a79720, anvil address #9
SCRIPT_DEPLOYER_ADDRESS=
