[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	commit = fc560fa34fa12a335a50c35d92e55a6628ca467c
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	commit = 49c0e4370d0cc50ea6090709e3835a3091e33ee2
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
	commit = 564e9f1606c699296420500547c47685818bcccf
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
	commit = 3d57528984275d1746ee6597acd36277f51c091d
