[profile.default]
  bytecode_hash = 'none'
  ffi = true
  fs_permissions = [{ access = "read", path = "./script/input" }]
  gas_reports = [
    "LlamaAccount",
    "LlamaCore",
    "LlamaFactory",
    "LlamaLens",
    "LlamaPolicy",
    "LlamaStrategy",
  ]
  invariant = { fail_on_revert = true }
  optimizer = false
  solc = "0.8.19"
  via_ir = false

[profile.default.optimizer_details]
  constantOptimizer = true
  yul = true

[profile.ci]
  fuzz = { runs = 5000 }
  invariant = { runs = 1000, depth = 100 }
  optimizer = true
  optimizer_runs = 10_000_000
  via_ir = true

[rpc_endpoints]
  mainnet = "${MAINNET_RPC_URL}"

[etherscan]
  mainnet = { key = "${ETHERSCAN_API_KEY}", chain = "mainnet" }

[fmt]
  bracket_spacing = false
  int_types = "long"
  line_length = 120
  multiline_func_header = "attributes_first"
  number_underscore = "thousands"
  quote_style = "double"
  single_line_statement_blocks = "single"
  tab_width = 2
  wrap_comments = true

[doc]
  title = "Llama v1 Documentation"
